#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* --------------- */
*{
    margin: 0;
    padding: 0;
    border: 0px;
}
body{
    overflow-x: hidden;
}
header .header-top {
    height: 30px;
    background: #b7dc36;
}

header .header-top .container {
    height: 30px;
}

header .header-top .row {
    height: 30px;
}

header .header-top .col-md-6 {
    height: 30px;
}

header .header-top .top-left {
    line-height: 30px;
}
header .header-top p {
    font-size: 13px;
    color: white;
}

header .header-top .col-sm-6 {
    height: 30px;
}

header .header-top .top-right {
    height: 30px;
}

header .header-top ul {
    height: 30px;
}
#header-user{
    opacity: 0;
}
header .header-top li {
    float: left;
    list-style: none;
    text-decoration: none;
    line-height: 30px;
    padding: 0 5px 0 5px;
    /* color: white; */
}
header .header-top .top-right {
    padding-left: 251px;
}
header .header-top a {
    color: white;
}
.logo{
    margin-top: 45px;
    display: inline-block;
    color: #666;
    text-decoration: none;
    cursor: pointer;
    /* background: transparent; */
    box-sizing: border-box;
}
.header-center.col-md-4{
    max-width: 33.333333%
}
.header-center{
    margin-top: 15px;
    margin-bottom: 30px;
    box-sizing: border-box;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
    clear: both;
}

/* end top */

.header-center .header1 .header-banner{
    text-align: center;
    padding: 15px;
    border: 1px solid #ccc;
    max-width: 294px;
    margin: 15px 0px 10px 0px;
    position: relative;
    display: table;
    margin-left: auto;
    margin-right: auto;
    color: #333;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 400;
    line-height: 1.66;
}
.header2 {
    font-size: 15px;
    padding-top: 11px;
}
ul#header2 {
    list-style: none;
    padding-top: 37px;
    margin-left: -53px;
}

li#header21 {
    display: inline-block;
    padding: 5px;
    font-size: 15px;
}

li#header21 a {
    color: #333;
    text-decoration: none;
}

li#header21 i.fa.fa-phone {
    color: #b7dc36;
}
li#header21 i.fa.fa-envelope {
    color: #b7dc36;
}
input[type="text"] {
    display: inline-block;
}

.header-input {
    display: inline-block;
    /* width: 69%; */
    /* padding: 0px; */
}

.header3 input[type="text"] {
    width: 270px;
    height: 35px;
    background: #f2f2f2;
}

.header3 button {
    height: 35px;
    width: 50px;
}

.header3 button {
    color: white;
    background: #b7dc36;
}

/* end center */


.header-footer{
    height: 50px;
}
.header-footer .container{
    height: 50px;
}
.header-footer .container ul.menu{
    list-style: none;
    display: block;
    text-align: center;
    position: relative;
}
.header-footer .container ul.menu li{
    display: inline-block;
    padding: 0px 15px 0px 0px;
    position: relative;
    line-height: 50px;
}
.header-footer .container ul.menu li a{
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
}
.header-footer .container ul.menu li div.menutable{
    z-index: 1;
    display: none;
    background: white;
     width: 265px;
     height: 90px;
     position: absolute;   
}
.header-footer .container ul.menu li div.menutable ul li a:hover{
    color: #b7dc36;
}
.header-footer .container ul.menu li#menu a#menu:hover {
    color: #b7dc36;
    border-top: 5px solid #b7dc36;
    padding-top: 9px;
}
.header-footer2{
    display: none;
}
.header-footer .container ul.menu li:hover >div.menutable{
    display: block;
    border: 1px;
}
.header-footer-icon {
    float: right;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    /* width: 1em; */
    text-align: center;
    font-variant: normal;
    text-transform: none;
    /* line-height: 1em; */
    font-size: 23px;
    line-height: 50px;
    color: #333;
}

.header-footer i.fa.fa-refresh {
    padding: 20px;
}


/* end header */

/* ---------------------table-1-------------------- */
main .table-1 {
    position: relative;
    height: 260px;
}

main .table-1 #table1-img{
    width: 100%;
    height: 250px;
}
.table1-2 {
    margin-top: -150px;
    text-align: center;
    font-size: 25px;
}

.table1-2 ol {
    line-height: none;
    text-decoration: none;
    list-style: none;
}

 .table1-2 ol li {
    display: inline-block;
    text-decoration: none;
}
 .table1-2 ol li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
 }
 li#organic1 {
    color: #777;
    font-weight: bold;
}

li#organic2 {
    color: #f7b111;
    font-weight: bold;
    font-size: 23px;
}

/* --------------end tabl1-1--------------------- */

.table-2{
    padding-top: 30px;
}
.table-2 .line{
    position: absolute;
    top: 36%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: calc(100% - 30px);
    z-index: 0;
    border-top: 1px solid rgb(229, 229, 229);
    margin: 0px auto;
}
.table-21 {
    line-height: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.table-21 h3{
    padding: 0px 20px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: rgb(255, 255, 255);
}
#table-22{
    float: left;
}
/* ------------end table-2-------------- */

.table-3{
    padding-top: 40px;
}
.table-3 .line2{
    position: absolute;
    top: 36%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: calc(100% - 30px);
    z-index: 0;
    border-top: 1px solid rgb(229, 229, 229);
    margin: 0px auto;
}
.table-31 {
    line-height: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.table-31 h3{
    padding: 0px 20px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: rgb(255, 255, 255);
}

.table-32 {
    margin-top: 25px;
    background: #f7f7f7;
    position: relative;
    margin-top: 60px;
}


.table-321 small {
    display: block;
    position: relative;
    z-index: 1;
    top: -20px;
    font-size: 14px;
    line-height: 8px;
    padding: 0;
    color: #333 !important;
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.table-321 span.table-3211 {
    background-color: #f7b111;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 3px;
    left: 0;
}

.table-33 {
    margin-top: 25px;
    background: #f7f7f7;
    position: relative;
    margin-top: 60px;
}

/* ---------------- */
.table-331 small {
    display: block;
    position: relative;
    z-index: 1;
    top: -20px;
    font-size: 14px;
    line-height: 8px;
    padding: 0;
    color: #333 !important;
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.table-331 span.table-3311 {
    background-color: #f7b111;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 3px;
    left: 0;
}

/* ------------- */
.table-34 {
    margin-top: 25px;
    background: #f7f7f7;
    position: relative;
    margin-top: 60px;
}


.table-341 small {
    display: block;
    position: relative;
    z-index: 1;
    top: -20px;
    font-size: 14px;
    line-height: 8px;
    padding: 0;
    color: #333 !important;
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.table-341 span.table-3411 {
    background-color: #f7b111;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 3px;
    left: 0;
}
/* ------------------- */
.table-35 {
    margin-top: 25px;
    background: #f7f7f7;
    position: relative;
    margin-top: 60px;
}


.table-351 small {
    display: block;
    position: relative;
    z-index: 1;
    top: -20px;
    font-size: 14px;
    line-height: 8px;
    padding: 0;
    color: #333 !important;
    text-shadow: none !important;
    text-transform: uppercase;
    font-weight: bold;
}

.table-351 span.table-3511 {
    background-color: #f7b111;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    border-radius: 3px;
    left: 0;
}

/* end table-32 -> table-35 */

div#table-32 {
    float: left;
}

.table-36 {
    margin-top: 53px;
}
/*---------------end table-3-------------------  */

.table-4{
    padding-top: 40px;
}
.table-4 .line3{
    position: absolute;
    top: 36%;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: calc(100% - 30px);
    z-index: 0;
    border-top: 1px solid rgb(229, 229, 229);
    margin: 0px auto;
}
.table-41 {
    line-height: 15px;
    margin-bottom: 30px;
    text-align: center;
}
.table-41 h3{
    padding: 0px 20px;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    background: rgb(255, 255, 255);
}
img#image {
    position: relative;
    margin-bottom: -1px;
    overflow: hidden;
    border-radius: 50%;
    max-width: 100%;
    z-index: 0;
}
a.name {
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    color: #333333c4;
}

.table-4-name {
    text-align: center;
}
div#table-4-image {
    float: left;
}
.layer2 {
    opacity: 0;
    position: absolute;
    max-width: 100%;
    margin-top: -145px;
    margin-left: 48px;
}

ul.table-4-icon {
    list-style: none;
    display: inline-flex;
    z-index: 3;
}

.table-4-icon li {
    padding: 7px;
}

.table-4-icon li a {
    color: white;
}

.layer {
    position: absolute;
    visibility: hidden;
    margin-top: -239px;
    opacity: 0;
    background: rgb(0, 0, 0.5);
    z-index: 2;
    border-radius: 50%;
    width: 240px;
    height: 240px;
} 
.table-42 .imange:hover .layer{
    opacity: 1;
    visibility: visible;
    background: #99999987;
    transition: 0.5s;
}
.table-42 .imange:hover .layer2{
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
 
}
/* ------------end table-4-------------- */
.table-5 {
    margin-top: 55px;
}
/* ---------------end table-5--------------------- */
.table-7{
    background-image: url('../img-test/anh2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: inherit;
    padding: 30px 0px;
    margin-top: 60px;
}

input.form-control.search-suggestion {
    width: 450px;
    border-radius: 0px;
    height: 50px;
    margin-top: 41px;
}
h2.title-custom {
    margin-top: 46px;
}
input.btn.btn-send-reg-email {
    border: 1px solid #b7dc36;
    background: #b7dc36;
    color: white;
    height: 50px;
    margin-top: -4px;
    margin-left: -5px;
    border-radius: 0px;
}
/* -------------------------end table-7--------------- */
.footer-left-1{ 
    color: black;
}
.footer-left-2{
    color: black;
}
.footer-left-2 ul{
    text-decoration: none;
    list-style: none;
}
.footer-left-2 ul li{
    float: left;
    padding: 0px 15px 0px 5px;
}
i#footer-face {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #3b5998;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-twitter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #1da1f2;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-google {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #db4437;
    border-radius: 50px;
    line-height: 39px;
}
i#footer-pinter {
    color: white !important;
    height: 38px;
    width: 38px;
    text-align: center;
    background-color: #dc121a;
    border-radius: 50px;
    line-height: 39px;
}
.footer-3{
    color: black;
}
.footer-4{
    color: black;
    font-size: 15px;
}
.footer-5{
    color: black;
}
.footer-6 img{
    float: left;
    padding: 0px 10px 0px 10px;
}
.footer-7{
    color: #333;
}
.footer7-1{
    margin:20px 20px;
    padding: 5px 10px 15px 19px;
}
.footer7-1 h5{
    font-size: 1.25rem;
}
.footer7-1 h4{
    font-size: 1.25rem;
}
span.icon-8 {
    margin-left: -17px;
}
.footer-left-1 h4{
    color: black;
}
.footer-3 h4{
    color: black;
}
.footer-5 h4{
    color: black;
}
h5 {
    color: #999999;
}

h4 {
    color: #999;
}
